:root {
    /* --dark-1: #2F4858; */
    --dark-1: #24343d;
    --dark-1-2: #283e4b;
    --dark-1-3: #1a2329;
    --dark-2: #296574;
    --dark-3: #629C86;
    --light-1: #EAFEF7;
    --light-2: #f5fdf9;
    --accent-1: #DEB887;
    --accent-2: #A5D782;
    --accent-3: #191f24;
}

.html, body {
    background: var(--dark-1);
    color: var(--light-1);
    transition: 1s;
    animation: fadeEffect 1s;
    margin: 0;
}

.narrow_menu {
    display: none;
}

/*#region Home page*/
#home-center-content {
    width: 50%;
    height: 50%;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

#profile_img_container {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    width: 70%;
}

#profile_img {
    display: inline-block;
    width: 70%;
    aspect-ratio: 1/1;
    /* -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding; */
    border-radius: 8%;
    background-clip: padding-box;
    margin: 5px;
    float: none;
    background-size: cover;
    background-position: center center;
    background-image: url("media/CRS_9902.png2.png");
    border: 2px solid var(--accent-1);
}

#home-center-content h1 {
    display: inline-block;
    text-align: center;
}

#main_nav {
    display: inline-block;
    width: 100%;
}

#main_nav > * {
    display: block;
    width: 100%;
    text-align: center;
    margin: 32px 0px;
}

.narrow_menu {
    display: none;
}

.wide_menu {
    display: inline;
}

/*#region Language switch*/
.language_switch {
    position: fixed;
    display: grid;
    grid-template-columns: minmax(42px, auto) 1fr;
    grid-auto-rows: min-content;
    justify-content: center;
    align-items: center;
    width: fit-content;
    user-select: none; 
    vertical-align: middle;
    left: 0;
}

.language_switch > * {
    transition: all 300ms;
    user-select: none; 
}

.language_switch img {
    filter: grayscale(75%);
}

.language_switch p {
    padding: 12px 10px;
    color: #f5fdf99c;
    width: 100%;
    transition: all 300ms;
    vertical-align: middle;
    text-align: center;
}

.language_switch:hover p {
    color: var(--light-2);
}

.language_switch.active p {
    color: var(--light-2);
    text-shadow: var(--light-2) 0px 0px 2px;
}

.language_switch.active img {
    filter: unset;
}

.language_switch.ro {
    z-index: 11;
    transform: translateX(30px);
}

.language_switch.en {
    z-index: 10;
}

.language_switch.en span{
    height: 100px;
}

.language_switch:hover{
    cursor: pointer;
}

.language_switch > span:nth-child(1) {
    text-align: center;
    min-height: 42px;
    height: 100%;
    width: 2px;
    background: var(--accent-1);
    left: 0;
    right: 0;
    margin: auto;
}

.language_switch img {
    display: inline-block;
    width: 42px;
}

.language_switch p {
    display: inline-block;
    width: fit-content;
    text-align: center;
    margin: 0px;
}

.language_switch:hover img{
    filter: grayscale(50%);
}

.language_switch.active:hover img {
    filter: unset;
}

.language_switch > span:nth-child(3) {
    all: unset;
    border-radius: 50%;
    border: 2px solid var(--accent-1);
    height: 42px;
}

.strech_string_ro {
    animation-name: strech_string_ro;
    animation-duration: 300ms;
}

@keyframes strech_string_ro {
    0%   {min-height: 42px;}
    50%  {min-height: 82px;}
    100% {min-height: 42px;}
}

.strech_string_en {
    animation-name: strech_string_en;
    animation-duration: 300ms;
}

@keyframes strech_string_en {
    0%   {min-height: 100px;}
    50%  {min-height: 142px;}
    100% {min-height: 100px;}
}
/*#endregion Language switch*/

@media only screen and (min-width: 900px) {
    #profile_img {
        width: 50%;
    }
}

/*#endregion Home page*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--accent-3);
    text-align: right;
    padding: 20px;
    border-top: 1px solid var(--light-2);
}

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: var(--dark-1);
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

/* .language_selector {
    overflow: hidden;
    margin: auto;
    width: fit-content;
    padding: 0;
    margin-right: 0;
    text-align: center;
    height: 100%;
}

.language_selector p {
    padding: 0px 10px 0px;
    min-width: 70px;
    margin: 0;
    text-align: center;
}

.language_selector li {
    display: inline;
} */

.tab {
    /* overflow: hidden; */
    border-bottom: 2px solid var(--light-1);
    display: inline;
    width: 100%;
    height: 5%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background: var(--dark-1-2);
    justify-content: stretch;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
    transition: 0.3s;
    position: relative;
    color: var(--light-1);
    font-weight: 700;
    min-width: 100px;
    height: 100%;
}

.tab button.active {
    background-color: var(--light-1);
    color: var(--dark-1);
}
  
.tab button:hover {
    background-color: var(--dark-1-3);
    color: var(--light-1);
}

.tab button.active:hover {
    background-color: var(--light-2);
    color: var(--dark-1);
}
  
.tabcontent {
    display: none;
    padding: 12px;
    margin: auto;
    background-color: var(--dark-1-3);
    /* transform: translateY(5%); */
    height: 100%;
}

.tabcontent.CV {
    width: 50%;
}

.tabcontent {
    animation: fadeEffect 1s;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.lang_button {
    width: fit-content;
}

.lang_button:hover {
    cursor: pointer;
}

.cv_section {
    padding: 0px 10px 0px;
}

.cv_time_period {
    display: none;
}

.cv_item {
    margin: auto;
}

.cv_item > p{
    display: inline-block;
    padding: 0px 10px 0px;
    min-width: 100px;
    text-align: right;
    vertical-align : top;
    width: 30%;
}

.cv_item span {
    border-left: 2px solid var(--accent-2);
    display: inline-block;
    padding: 0px 10px 0px;
    width: 60%;
}

.cv_item span p:first-child {
    color: var(--accent-1);
    font-size: large;
    font-weight: 600;
}

.cv_item.lang span {
    max-width: fit-content;
}

.dot {
    width: 100px;
    height: 100px;
    background: var(--dark-2);
    border-radius: 50%;
    margin: 1px;
    border: 0px;
}

.dot.filled {
    background-color: var(--accent-1);
    border: 0px;
}

.cv_item.skill span {
    padding: 10px 10px 10px;
}

.cv_item.skill span p {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    display: inline;
    line-height: 2;
}

.cv_item.lang span p {
    text-align: right;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.dwd_cv {
    border-radius: 4%;
    right: 0;
    bottom: 0;
    padding: 10px;
    transition: 200ms;
    position: fixed;
    float: left;
    float: inline-end;
    z-index: 3;
    display: inline;
    background: var(--accent-2);
    color: var(--accent-3);
    vertical-align: middle;
    text-decoration-line: none;
    font-weight: bold;
    transform: translateY(-100%);
    margin: 10px;
}

.dwd_cv img {
    width: 24px;
    height: auto;
    display: inline;
    vertical-align: middle;
}

.dwd_cv p {
    display: inline;
    vertical-align: middle;
}

.dwd_cv:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--accent-2);
}

/* PROJECTS */

.tabcontent.projects {
    margin: 0px;
    padding: 0px;
    /* transform: translateY(5%); */
    height: 100%;
}

.project_categories {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: center;
    width: 100%;
    height: 100%;
}

.project_categories button {
    font-size: xx-large;
    font-weight: 700;
    width: 100%;
    background: var(--accent-2);
    position: relative;
    transition: 300ms;
    border: 0px;
    padding: 0px;
    text-align: center;
    min-height: 300px;
    text-shadow: 0 0 2px black;
    text-decoration: underline overline;
    vertical-align: middle;
    text-align: center;
}

.project_categories button:hover {
    cursor: pointer;
    color: var(--accent-2);
    background: var(--dark-1-2);
    text-shadow: 0 0 10px var(--accent-2);;
}

.project_categories button:nth-child(1) {
    background-color: rgba(211, 205, 197, 0.25);
    background-blend-mode: soft-light;
    background-image: url("./media/cookpedia.gif");
    background-position: center;
}

.project_categories button:nth-child(1):hover {
    background: var(--dark-1-2);
    background-blend-mode: multiply;
    background-image: url("./media/cookpedia.gif");
    background-position: center;
}

.project_categories button:nth-child(2) {
    background-color: rgb(222, 184, 135, 0.25);
    background-blend-mode: soft-light;
    background-image: url("./media/3dmodelling/1.jpg");
    background-position: center;
    background-size: cover;
}

.project_categories button:nth-child(2):hover {
    background: var(--dark-1-2);
    background-blend-mode: multiply;
    background-image: url("./media/3dmodelling/1.jpg");
    background-position: center;
    background-size: cover;
}

.project_categories button:nth-child(3) {
    background-color: rgba(216, 211, 206, 0.575);
    background-blend-mode: soft-light;
    background-image: url("./media/illustrations/tshirt2.png");
    background-position: center;
    background-size: cover;
}

.project_categories button:nth-child(3):hover {
    background: var(--dark-1-2);
    background-blend-mode: multiply;
    background-image: url("./media/illustrations/tshirt2.png");
    background-position: center;
    background-size: cover;
}

.project_categories button h1 {
    width: 100%;
}

.projects_container {
    width: 100%;
}

.project_section {
    width: 100%;
}

.project_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    vertical-align: middle;
    justify-content: stretch;
    width: 100%;
}

.project_section.cookpedia {
    background: rgb(230, 188, 183);
    color: var(--dark-1-3);
}

.project_video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* .modeling3d_container {
    
} */

.model3d {
    max-width: 40%;
}

.illustrations_container {
    display: inline;
    justify-content: stretch;
    align-content: center;
}

.illustrations_container img {
    max-width: 45%;
}

.illustration.sea {
    max-width: 70%;
}



@media only screen and (max-width: 600px) {
    .wide_menu {
        display: none;
    }

    .narrow_menu {
        display: inline;
        background: var(--dark-1-3);
        z-index: 1000;
        height: 62px;
    }

    .narrow-menu-header {
        width: 100%; 
        height: 62px;
    }

    .narrow-menu-header > img {
        width: 42px; 
        padding: 10px; 
        float: right;
    }

    .narrow_menu .language_switch {
        display: none;
    }

    .narrow_menu .link-container {
        display: none;
    }

    .narrow_menu .close-narrow-menu {
        display: none;
    }



    .narrow_menu.expanded {
        width: 100%;
        height: 100%;
        
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin: auto;
    }

    .narrow_menu.expanded .language_switch {
        display: grid;
    }

    .narrow_menu.expanded .link-container {
        display: grid;
    }

    .narrow_menu.expanded .close-narrow-menu {
        display: inline;
    }
    
    .narrow_menu.expanded .open-narrow-menu {
        display: none;
    }
    
    .close-narrow-menu img {
        fill: var(--accent-1);
    }

    .content.shrink {
        display: none;
    }

    .link-container {
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;

        height: calc(100% - 62px);

        display: grid;

        justify-content: center;
        align-items: center;
    }

    .link-wrapper {
        display: inline;
    }

    .link-wrapper p {
        padding: 10px;
        font-size: 2rem;
        margin: 0px 0px 32px 0px;
    }

    .link-wrapper a {
        display: block;
        font-size: 1rem;
        padding: 10px;

    }

    .tab.wide {
        display: none;
    }

    /* 
    .tab.narrow {
        all: unset;
        position: relative;
        
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin: auto;
        vertical-align: middle;

        width: 50%;
        height: 25%;
    }

    .tab.narrow > span {
        all: unset;
        position: relative;
        display: inline-block;
        width: 100%;
        height: 20%;
        text-align: center;
    }

    .tablinks {
        display: inline-block;
        text-align: center;
        width: fit-content;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    } */

    /* .tab button {
        all: unset;
        position: relative;
        display: block;
        width: 100%;
        height: 40%;
        text-align: center;
    } */

    .tab.narrow button:first-child {
        height: 42px;
        text-align: right;
        width: fit-content;
        float: right;
        padding: 10px;
        aspect-ratio: 1/1;
    }

    /* .tab.narrow span {
        width: 100%;
        height: 100%;
        text-align: center;
    } */

    .tab.narrow span h2 {
        margin: 0px;
        text-align: center;
        width: fit-content;
    }

    .tabcontent.CV {
        width: 90%;
    }

    .cv_item > p {
        display: none;
        width: 100%;
    }

    .cv_item span{
        width: 100%;
    }

    .cv_time_period {
        display: block;
    }

    .project_section { 
        grid-template-columns: 1fr; 
    }

    /* .project_section:nth-child(odd) {
        background: var(--accent-1);
    } */

    .project_video {
        width: 100%;
    }

    .project_categories button {
        min-height:  calc(100vh * .33);
    }

    .project_categories button h1 {
        font-size: larger;
    }

}


