:root {
    /* --dark-1: #2F4858; */
    --dark-1: #24343d;
    --dark-1-2: #283e4b;
    --dark-1-3: #1a2329;
    --dark-2: #296574;
    --dark-3: #629C86;
    --light-1: #EAFEF7;
    --light-2: #f5fdf9;
    --accent-1: #DEB887;
    --accent-2: #A5D782;
    --accent-3: #191f24;

    --hsl-light-1: 150, 67%, 98%;
    --hsl-accent-1: 34, 57%, 70%;

    --topbar-height: 62px;
    --content-height: calc(100vh - 62px);
}

.html, body {
    background: var(--dark-1);
    color: var(--light-1);
    transition: 1s;
    animation: fadeEffect 1s;
    margin: 0;
}

.narrow_menu {
    display: none;
}

#profile_img {
    display: inline-block;
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 8%;
    background-clip: padding-box;
    margin: 5px;
    float: none;
    background-size: cover;
    background-position: center center;
    background-image: url("media/CRS_9902.png2.png");
    border: 2px solid var(--accent-1);
}

.narrow_menu {
    display: none;
}

.wide_menu {
    display: inline;
}

/* .wide_menu .language_switch {
    transform: translateY(62px);
}

.wide_menu .language_switch:first-child {
    transform: translateX(30px) translateY(62px);
} */

.wide_menu .tab {
    height: var(--topbar-height);
    position: fixed;
    border-bottom: 2px solid var(--accent-1);
}


/*#region Language switch*/
.language_switch {
    position: fixed;
    display: grid;
    grid-template-columns: minmax(42px, auto) 1fr;
    grid-auto-rows: min-content;
    justify-content: center;
    align-items: center;
    width: fit-content;
    user-select: none; 
    vertical-align: middle;
    left: 0;
}

.language_switch > * {
    transition: all 300ms;
    user-select: none; 
}

.language_switch img {
    filter: grayscale(75%);
}

.language_switch p {
    padding: 12px 10px;
    color: #f5fdf99c;
    width: 100%;
    transition: all 300ms;
    vertical-align: middle;
    text-align: center;
}

.language_switch:hover p {
    color: var(--light-2);
}

.language_switch.active p {
    color: var(--light-2);
    text-shadow: var(--light-2) 0px 0px 2px;
}

.language_switch.active img {
    filter: unset;
}

.language_switch.ro {
    z-index: 11;
    transform: translateX(30px);
}

.language_switch.en {
    z-index: 10;
}

.language_switch.en span{
    height: 100px;
}

.language_switch:hover{
    cursor: pointer;
}

.language_switch > span:nth-child(1) {
    text-align: center;
    min-height: 42px;
    height: 100%;
    width: 2px;
    background: var(--accent-1);
    left: 0;
    right: 0;
    margin: auto;
}

.language_switch img {
    display: inline-block;
    width: 42px;
}

.language_switch p {
    display: inline-block;
    width: fit-content;
    text-align: center;
    margin: 0px;
}

.language_switch:hover img{
    filter: grayscale(50%);
}

.language_switch.active:hover img {
    filter: unset;
}

.language_switch > span:nth-child(3) {
    all: unset;
    border-radius: 50%;
    border: 2px solid var(--accent-1);
    height: 42px;
}

.strech_string_ro {
    animation-name: strech_string_ro;
    animation-duration: 300ms;
}

@keyframes strech_string_ro {
    0%   {min-height: 42px;}
    50%  {min-height: 82px;}
    100% {min-height: 42px;}
}

.strech_string_en {
    animation-name: strech_string_en;
    animation-duration: 300ms;
}

@keyframes strech_string_en {
    0%   {min-height: 100px;}
    50%  {min-height: 142px;}
    100% {min-height: 100px;}
}
/*#endregion Language switch*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--accent-3);
    text-align: right;
    padding: 20px;
    border-top: 1px solid var(--light-2);
}

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: var(--dark-1);
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

/* .language_selector {
    overflow: hidden;
    margin: auto;
    width: fit-content;
    padding: 0;
    margin-right: 0;
    text-align: center;
    height: 100%;
}

.language_selector p {
    padding: 0px 10px 0px;
    min-width: 70px;
    margin: 0;
    text-align: center;
}

.language_selector li {
    display: inline;
} */

.tab {
    /* overflow: hidden; */
    border-bottom: 2px solid var(--light-1);
    display: inline;
    width: 100%;
    height: var(--topbar-height);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background: var(--dark-1-3);
    justify-content: stretch;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
    transition: 0.3s;
    position: relative;
    color: hsla(var(--hsl-light-1), 0.61);
    font-weight: 700;
    min-width: 150px;
    height: 100%;
    margin: 0px 10px;
}

.tab button.active {
    color: var(--light-1);
    text-shadow: var(--light-2) 0px 0px 2px;
}

/* .tab button:hover::before {
    content: ".";
    text-align: center;
    height: 20%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: fixed;
    display: grid;
    align-items: center;
    justify-content: center;
    transform: translateY(80%);
} */
  
.tab button:hover {
    color: hsla(var(--hsl-light-1), 1);
}

.tab button.active:hover {
    color: hsla(var(--hsl-light-1), 1);
}

.content {
    margin: 62px 170px 0px 170px;

}
  
.tabcontent {
    display: none;
    padding: 12px;
    margin: auto;
    background-color: var(--dark-1-3);
}

.tabcontent.CV {
    min-width: min-content;
    max-width: 900px;
}

.tabcontent {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.lang_button {
    width: fit-content;
}

.lang_button:hover {
    cursor: pointer;
}

.cv_section {
    padding: 0px 10px 0px;
}

.cv_time_period {
    display: none;
}

.cv_item {
    margin: auto;
    display: grid;
    grid-template-columns: fit-content(150px) 1fr;
}

.cv_item > p{
    display: inline-block;
    padding: 0px 10px 0px;
    min-width: 150px;
    text-align: right;
    vertical-align : top;
    /* width: 30%; */
}

.cv_item span {
    border-left: 2px solid var(--accent-2);
    display: inline-block;
    padding: 0px 10px 0px;
    /* width: 60%; */
}

.cv_item span p:first-child {
    color: var(--accent-1);
    font-size: large;
    font-weight: 600;
}

.cv_item.lang span {
    max-width: fit-content;
}

.dot {
    width: 100px;
    height: 100px;
    background: var(--dark-2);
    border-radius: 50%;
    margin: 1px;
    border: 0px;
}

.dot.filled {
    background-color: var(--accent-1);
    border: 0px;
}

.cv_item.skill span {
    padding: 10px 10px 10px;
}

.cv_item.skill span p {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    display: inline;
    line-height: 2;
}

.cv_item.lang span p {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.dwd_cv {
    border-radius: 4%;
    right: 0;
    bottom: 0;
    padding: 10px;
    transition: 200ms;
    position: fixed;
    float: left;
    float: inline-end;
    z-index: 3;
    display: inline;
    background: var(--accent-2);
    color: var(--accent-3);
    vertical-align: middle;
    text-decoration-line: none;
    font-weight: bold;
    transform: translateY(-100%);
    margin: 10px;
}

.dwd_cv img {
    width: 24px;
    height: auto;
    display: inline;
    vertical-align: middle;
}

.dwd_cv p {
    display: inline;
    vertical-align: middle;
}

.dwd_cv:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--accent-2);
}

/* PROJECTS */

.tabcontent.projects {
    padding: 0px;
}

.project_categories {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: center;
    width: 100%;
    /* height: calc(100% - 62px); */
}

.project_categories button {
    font-size: xx-large;
    font-weight: 700;
    width: 100%;
    background: var(--accent-2);
    position: relative;
    transition: 300ms;
    border: 0px;
    padding: 0px;
    text-align: center;
    /* min-height: 300px; */
    text-shadow: 0 0 2px black;
    text-decoration: underline overline;
    vertical-align: middle;
    text-align: center;
    min-height: calc(var(--content-height) * .33);
}

.project_categories button:hover {
    cursor: pointer;
    color: var(--accent-2);
    background: var(--dark-1-2);
    text-shadow: 0 0 10px var(--accent-2);;
}

.project_categories button:nth-child(1) {
    background-color: rgba(211, 205, 197, 0.25);
    background-blend-mode: soft-light;
    background-image: url("./media/apps/cookpedia.jpg");
    background-position: center;
    background-size: contain;
}

.project_categories button:nth-child(1):hover {
    background: var(--dark-1-2);
    background-blend-mode: multiply;
    background-image: url("./media/apps/cookpedia.jpg");
    background-position: center;
    background-size: contain;
}

.project_categories button:nth-child(2) {
    background-color: rgb(222, 184, 135, 0.25);
    background-blend-mode: soft-light;
    background-image: url("./media/3dmodelling/1.jpg");
    background-position: center;
    background-size: cover;
}

.project_categories button:nth-child(2):hover {
    background: var(--dark-1-2);
    background-blend-mode: multiply;
    background-image: url("./media/3dmodelling/1.jpg");
    background-position: center;
    background-size: cover;
}

.project_categories button:nth-child(3) {
    background-color: rgba(216, 211, 206, 0.575);
    background-blend-mode: soft-light;
    background-image: url("./media/illustrations/tshirt2.png");
    background-position: center;
    background-size: cover;
}

.project_categories button:nth-child(3):hover {
    background: var(--dark-1-2);
    background-blend-mode: multiply;
    background-image: url("./media/illustrations/tshirt2.png");
    background-position: center;
    background-size: cover;
}

.project_categories button h1 {
    width: 100%;
}

.projects_container {
    width: 100%;
}

.project_section {
    width: 100%;
    border-bottom: 2px solid hsla(var(--hsl-light-1), .6);
    margin: 12px 0px;
}

.project_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    vertical-align: middle;
    justify-content: stretch;
    width: 100%;
}

/* .project_section.cookpedia {
    background: rgb(230, 188, 183);
    color: var(--dark-1-3);
} */

.project_video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.project_description {
    padding: 32px;
}

.project_description h1 {
    text-align: center;
}

.project_description a {
    padding: 12px;
}

/* .illustrations_container {
    display: inline;
    justify-content: stretch;
    align-content: center;
} */

/* .illustrations_container img {
    max-width: 45%;
} */

.illustration.sea {
    max-width: 70%;
}

.project_categories button {
    min-height:  calc(var(--content-height) * .33);
}

._3dmodeling_container {
    display: grid;
    justify-content: stretch;
    align-items: center;

    grid-template-columns: repeat(2, 1fr);
    column-gap: .2rem;
    row-gap: .2rem;
}

._3dmodeling_container > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    justify-content: stretch;
}

.illustrations_container {
    display: grid;

    justify-content: stretch;
    align-items: stretch;
    column-gap: .2rem;
    row-gap: .2rem;

    /* grid-template-areas: 
    "i1 i2"
    "i2 i3"
    "i4 i5"
    "i6 i7"
    "i7 i8"
    "i9 i10"; */

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.illustrations_container > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

/* @media only screen and (max-width: 1200px) and (min-width: 720px) {
    .tabcontent.CV {
        width: 100%;
    }

} */

@media only screen and (max-width: 719px) {
    .wide_menu {
        display: none;
    }

    .narrow_menu {
        position: fixed;
        display: inline;
        background: var(--dark-1-3);
        z-index: 1000;
        height: var(--topbar-height);
        width: 100%;
        transform: translateY(-62px);
    }

    .narrow-menu-header {
        width: 100%; 
        height: var(--topbar-height);
        display: grid;
        grid-template-columns: 1fr fit-content(62px);
    }

    .narrow-menu-header span {
        display: grid;
        justify-content:left;
        align-items:start;
        padding: 12px;
    }

    .narrow-menu-header p:first-child {
        font-size: 1.2rem;
    }

    .narrow-menu-header p:nth-child(2) {
        font-size: .8rem;
    }

    .narrow-menu-header p {
        /* width: calc(100vw - 62px); */
        padding: 0px;
        /* margin: 12px 0px; */
        margin: 0px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        text-align: left;
    }

    .narrow-menu-header > img {
        width: 42px; 
        padding: 10px; 
        float: right;
    }

    .narrow_menu .language_switch {
        display: none;
    }

    .narrow_menu .link-container {
        display: none;
    }

    .narrow_menu .close-narrow-menu {
        display: none;
        cursor: pointer;
    }

    .narrow_menu .open-narrow-menu {
        cursor: pointer;
    }

    .narrow_menu.expanded {
        width: 100%;
        height: 100%;
        
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin: auto;

        transform: unset;
    }

    .narrow_menu.expanded .narrow-menu-header p {
        display: none;
    }

    .narrow_menu.expanded .language_switch {
        display: grid;
    }

    .narrow_menu.expanded .link-container {
        display: grid;
    }

    .narrow_menu.expanded .close-narrow-menu {
        display: inline;
    }
    
    .narrow_menu.expanded .open-narrow-menu {
        display: none;
    }
    
    .close-narrow-menu img {
        fill: var(--accent-1);
    }

    .content.shrink {
        display: none;
    }

    .link-container {
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;

        height: var(--content-height);

        display: grid;

        justify-content: center;
        align-items: center;
    }

    .link-wrapper {
        display: inline;
    }

    .link-wrapper p {
        padding: 10px;
        font-size: 2rem;
        margin: 0px 0px 32px 0px;
    }

    .link-wrapper a {
        display: block;
        font-size: 1rem;
        padding: 10px;

    }

    .tab.wide {
        display: none;
    }

    .tab.narrow button:first-child {
        height: 42px;
        text-align: right;
        width: fit-content;
        float: right;
        padding: 10px;
        aspect-ratio: 1/1;
    }

    /* .tab.narrow span {
        width: 100%;
        height: 100%;
        text-align: center;
    } */

    .tab.narrow span h2 {
        margin: 0px;
        text-align: center;
        width: fit-content;
    }

    .content {
        margin: 62px 0px 0px 0px;
    }


    .tabcontent.CV {
        width: 90%;
        padding-bottom: 160px;
    }

    .tabcontent.projects {
        margin: 0px
    }

    .cv_item {
        grid-template-columns: 1fr;
    }

    .cv_item > p {
        display: none;
        width: 100%;
    }

    .cv_item span{
        width: 100%;
    }

    .cv_time_period {
        display: block;
    }

    .project_section { 
        grid-template-columns: 1fr; 
    }

    /* .project_section:nth-child(odd) {
        background: var(--accent-1);
    } */

    .project_video {
        width: 100%;
    }

    .project_categories button {
        min-height:  calc(var(--content-height) * .33);
    }

    .project_categories button h1 {
        font-size: larger;
    }

}